<header>
    <nav>
        <div class="logo">
            <img src="assets/icons/icon.png" alt="logo">
            <p>SignalCipher</p>
        </div>
        <div class="menu-toggle" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="nav-links" [ngClass]="{'active': isMenuOpen}">
            <a routerLink="/cipher" routerLinkActive="active" (click)="closeMenu()">Cipher</a>
            <a routerLink="/binary" routerLinkActive="active" (click)="closeMenu()">Binary Converter</a>
            <a routerLink="/morse" routerLinkActive="active" (click)="closeMenu()">Morse Converter</a>
            <a routerLink="/about-developer" routerLinkActive="active" (click)="closeMenu()">About</a>
        </div>
    </nav>
</header>