<div class="cipher-container">

    <div class="radio-group">
        <label>
          <input type="radio" name="language_en" value="en" [(ngModel)]="language" (change)="updateDirection($event)">
          English
        </label>
        <label>
          <input type="radio" name="language_ar" value="ar" [(ngModel)]="language" (change)="updateDirection($event)">
          Arabic
        </label>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <input type="text" id="message" [(ngModel)]="message" placeholder="Enter your message">
    </div>
  
    <div class="form-group">
      <label for="key">Key</label>
      <small>The key must be in English and it should only be letters</small>
      <input type="text" id="key" [(ngModel)]="v_key" placeholder="Enter the key In English">
    </div>
  
    <div class="actions">
      <button class="btn encrypt-btn" (click)="cipherText_v(true)">Encrypt</button>
      <button class="btn decrypt-btn" (click)="cipherText_v(false)">Decrypt</button>
    </div>
  
    <div class="result-group">
      <label for="result">Result</label>
      <textarea id="result" [value]="result" readonly></textarea>
    </div>

    <!-- Send Button -->
    <div class="send-group">
        <button (click)="sendMessageViaWhatsapp()" class="whatsapp-button">Send via WhatsApp</button>
        <button (click)="sendMessageViaTelegram()" class="telegram-button">Send via Telegram</button>
      </div>
</div>  